.dblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  & .dblog__description {
    text-align: center;
    & .dblog__description--title {
      font-size: 5rem;
      font-weight: bold;
      margin: 0;
      background: linear-gradient(
        to right,
        var(--color--rose),
        var(--color--red)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & .dblog__description--span {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--text-color);
      & a {
        text-decoration: none;
        color: var(--color--red);
        font-weight: 900;
      }
    }
  }
  & .dblog__image {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 8px);
      height: calc(100% + 4px);
      transform: translate(-4px, -4px);
      background: linear-gradient(
        60deg,
        var(--color--green),
        var(--color--green),
        var(--text--color)
      );
      background-size: 300% 300%;
      animation: gradient-animation 10s ease infinite;
      border-radius: 1rem;
      z-index: -1;
    }
    & .dblog__image--img {
      width: 100%;
      border-radius: 1rem;
    }
  }
}

@keyframes gradient-animation {
  50% {
    background-position: 100% 50%;
  }
}
