.technologies {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  & .technologies--title {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(180deg, var(--color--blue), var(--text--color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .renderTechnologies {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    & .technology {
      width: 100px;
      height: 100px;
      border-radius: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      box-sizing: border-box;
      & span {
        backdrop-filter: blur(16px) saturate(180%);
        width: 100%;
        text-align: center;
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
        color: var(--text--color);
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .technologies {
    width: auto;
    & .technologies--title {
      text-align: center;
      font-size: 3.5rem;
    }
    & .renderTechnologies {
      width: 100%;
    }
  }
}
