---
    const err ={
        type: 404
    }
---
<html lang="es">
    <head>
    <title>
    page 404 not a found
    </title>
    </head>
    <body>
    <h1>
    page 404 not a found
    </h1>
    <p>
    {
        err.type
    }
    </p>

    </body>
</html>