---
import "../styles/index.css"
// import logo from '../assets/icons/logo.svg'

import Dblog from '../layouts/dblog.astro'
import MainProjects from '../layouts/Projects.astro'
import Header from '../layouts/header.astro'
import Habilidades from "../layouts/habilidades.astro"
import Footer from '../layouts/footer.astro'
import Navbar from '../layouts/navbar.astro'

const title = 'David Lezama | Desarrollador Web'
---

<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/logo.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/logo.svg" />
  <meta name="msapplication-TileImage" content="/" />
  <meta name="description" content="itsdavidev portafolio web personal">
  <meta name="keywords" content="itsdavidev,davidev,dblog,davlez,davidlez,david lezama">
  <meta property="og:title" content="Portafolio David Lezama" />
  <meta property="og:image" content="https://davilez.tk/itsdavidev.png" />
  <meta property="og:description" content="Portafolio web | itsdavidev " />
  <title>{title}</title>
  <!-- itsdavidev.io -->
  <link rel="canonical" href="https://davilez.tk" />
</head>

<body>
  <div class="itsDavidev">
    <Navbar />
    <div class="header">
      <Header />
    </div>
    <main class="main">
      <MainProjects />
      <Dblog />
      <Habilidades />
    </main>
    <Footer />
  </div>
</body>

</html>