---
import "../styles/index.css"
import logo from '../assets/icons/logo.svg'

import Dblog from '../layouts/dblog.astro'
import MainProjects from '../layouts/Projects.astro'
import Header from '../layouts/header.astro'
import Technologies from '../layouts/technologies.astro'
import Footer from '../layouts/footer.astro'
import Navbar from '../layouts/navbar.astro'

const title = 'David Lezama | Desarrollador Web'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={logo} />
    <link rel="apple-touch-icon" sizes="180x180"
        href="../assets/icons/logo.svg" /> <!-- iPhone/iPad -->
    <meta name="msapplication-TileImage"
        content="../assets/icons/logo.svg" /> 
    <title>{title}</title>
  </head>
  <body>
    <div class="itsDavidev">
    <Navbar />
      <div class="header">
        <Header />
      </div>
      <main class="main">
        <Dblog />
        <MainProjects />
        <Technologies />
      </main>
      <Footer />
    </div>
  </body>
</html>
