---
import "../styles/index.css"
import logo from '../assets/icons/logo.svg'

import Dblog from '../layouts/dblog.astro'
import MainProjects from '../layouts/mainProjects.astro'
import Header from '../layouts/header.astro'

const title = 'David Lezama | Desarrollador Web'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={logo} />
    <title>{title}</title>
  </head>
  <body>
    <div class="itsDavidev">
    <nav>dblog</nav>
      <div class="header">
        <Header />
      </div>
      <main class="main">
        <Dblog />
        <MainProjects />
      </main>
      <footer></footer>
    </div>
  </body>
</html>
