---
import '../styles/global.css'
---

<h1>
    projects // <small>
        <a href="{{ route('projects.create') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add New
        </a>
    </small>
</h1>