---
    import '../styles/dblog.css'
import dblog from '../assets/images/dblog.png'
---



<section class="dblog" id="blog">
    <div class="dblog__description">
        <h2 class="dblog__description--title">
           blog personal 
        </h2>
        <span class="dblog__description--span">
            En un Blog (<a href="https://dblog.ga" target="_blank"> dblog </a>) creado para poder compartir articulo y tutoriales del desarrollo web tanto para el frontend como para el backend   
        </span>
    </div>
   <a href="https://dblog.ga" target="_blank" class="dblog__image">
        <img src={dblog} alt="dblog" 
        class="dblog__image--img"
        >
   </a>
</section>
