---
    import '../styles/dblog.css'
import dblog from '../assets/images/dblog.png'
---



<section class="dblog">
    <div class="dblog__description">
        <p class="dblog__description--title">
            dblog
        </p>
        <span class="dblog__description--span">
            En sitio web para poder aprender programacion web   
        </span>
    </div>
   <a href="https://dblog.ga" target="_blank" class="dblog__image">
        <img src={dblog} alt="dblog" 
        class="dblog__image--img"
        >
   </a>
</section>