---

import itsDavidev from '../assets/images/ME.png'
---
 <header class="header">
        <section class="header__information">
          <h1 class="header__information--name animate__fadeInUp">
            Desarollador web Full Stack
          </h1>
          <a href="https://dblog.ga" target="_blank" class="header__information--web">
          itsDavidev
          </a>
        </section>
        <section class="header__me">
      
          <div class="me__background">
            <img
              src={itsDavidev}
              alt="itsDavidev"
              class="me__background--image"
            />
          </div>
        </section>
      </header>