---
import instagram from'../assets/icons/InsHeader.svg'
import twitter from '../assets/icons/TwiHeader.svg' 
import linkedin from '../assets/icons/LinHeader.svg'
import itsDavidev from '../assets/images/ME.png'
---
 <header class="header">
        <section class="header__information">
          <h1 class="header__information--name animate__fadeInUp">
          {"<Desarollador web Full Stack /> "}
          </h1>
          <div>
            <span class="spanHeader">
              {"{"}
            </span>
            <a href="https://github.com/itsDavidev" target="_blank" class="header__information--web">
            itsDavidev 
            </a>
            <span class="spanHeader">
              {"}"}
            </span>
          </div>
        </section>
        <section class="header__me">
          <div class="socials">
            <a href="#"class="instagramHeader">
              <img src={instagram} alt="instagram"  />
            </a>
            <a href="#" class="linkedinHeader">
              <img src={linkedin} alt="linkedin" class="linkedinHeader">
            </a>
            <a href="#" class="twitterHeader">
              <img src={twitter} alt="twitter" class="twitterHeader">
            </a>
          </div>
          <div class="me__background">
            <img
              src={itsDavidev}
              alt="itsDavidev"
              class="me__background--image"
            />
          </div>
        </section>
      </header>



<style>
 .socials {
   display:flex;
   gap:1rem;
   justify-content: center;
   position: relative;
   width:100%;
   & img{
     width:80px;
     animation:goUp 5s ease-in-out infinite;
   }
    & .instagramHeader{
     position: absolute;
     left: -7rem;
     top:4rem;
   }
   & .linkedinHeader{
     position:absolute;
     top:-3rem;
     left:3rem;
   }
   & .twitterHeader{
     position:absolute;
     top:2rem;
     right: -3rem;;
   }
 } 



</style>