---
    import '../styles/navba.css'
    import logonav from '../assets/icons/logoNav.svg'
---



<nav class="nav">
    <img src={logonav} alt="itsDavidev" class="nav--img">
    <ul>
        <li>
            <a href="#blog">
                Blog
            </a>
        </li>
        <li>
            <a href="#proyectos">
                Proyectos
            </a>
        </li>
        <li>
            <a href="#lenguajes">
                Lenguajes
            </a>
        </li>
    </ul>
</nav>